html {
    box-sizing: border-box;
    font-size: 1rem;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body{
    background-color: #252526;
}
.menu{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    background-color: blueviolet;
    border-radius: 4%;
    padding: 50px 50px;
}
.menu a:hover{
    color: rgb(173, 172, 172);
    background-color: rgb(102, 30, 170);
}